[Unit]
Description=OLED Stats Display
After=network.target

[Service]
ExecStart=/usr/local/bin/stats_oled/enviroment/bin/python /usr/local/bin/stats_oled/main.py
WorkingDirectory=/usr/local/bin/stats_oled/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
